<div class="button-container">
    <div class="button-with-text">
      <button (click)="navigateToClients()"
       class="my-button"><img src=\assets\client.jpg height ="250" width="250" /></button>
      <p>Clients</p>
    </div>
    <div class="button-with-text">
      <button class="my-button"><img src=\assets\capsule.jpg height ="250" width="250" /></button>
      <p>Medicaments</p>
    </div>
    <div class="button-with-text">
        <button  class="my-button"><img src=\assets\fournisseurs-7.jpg height ="250" width="250" /></button>
        <p>Fournisseurs</p>
      </div>
  </div>



