<div class="content container-fluid">
<div class="page-header mt-4">
  <div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-8">
  <h5 class="text-uppercase mb-0 mt-0 page-title">Clients</h5>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-12">
  <ul class="breadcrumb float-right p-0 mb-0">
  <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home"></i> Menu</a></li>
  <li class="breadcrumb-item"><a href="#">Clients</a></li>
  </ul>
  </div>
  </div>
  </div>
  <div class="col-sm-7 col-8 text-right add-btn-col" style="margin-left: 500px;">
    <a href="javascript:void()"
    data-toggle="modal" data-target="#add"
    class="btn btn-success btn-rounded" (click)="openTab('ajouter')"
    [class.active]="activeTab === 'liste'" >
      <i class="fas fa-plus"></i> Ajouter client</a>
    </div>
<!--
<div class="tab-buttons">
    <button class="tab-button" (click)="openTab('liste')" [class.active]="activeTab === 'liste'">
      <img src=\assets\liste-verte-.jpg alt="Liste" class="tab-icon" />
      Liste
    </button>
    <button class="tab-button" (click)="openTab('ajouter')" [class.active]="activeTab === 'ajouter'">
      <img src="assets/ajouter.jpg" alt="Ajouter" class="tab-icon" />
      Ajouter
    </button>
    <button class="tab-button" (click)="openTab('modifier')" [class.active]="activeTab === 'modifier'">
      <img src="assets/modifier.jpg" alt="Modifier" class="tab-icon" />
      Modifier
    </button>
  </div> -->

  <div class="tab-content">
    <div *ngIf="activeTab === 'liste'">
      <!-- Contenu de l'onglet Liste -->

      <table class="client-table">
        <thead>
          <tr>
            <th>Code Client</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Téléphone</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Afficher les clients depuis le tableau 'clients' -->
          <tr *ngFor="let client of clients">
            <td>{{ client.code_client }}</td>
            <td>{{ client.nom }}</td>
            <td>{{ client.prenom }}</td>
            <td>{{ client.telephone }}</td>
            <td>
              <button class="btn-primary" (click)="editerClient(client)">Modifier</button>
              <button  class="btn-primary" (click)="supprimerClient(client.id)">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

    <div *ngIf="activeTab === 'ajouter'" class="ajouter">
      <!-- Contenu de l'onglet Ajouter -->
      <h2>Ajouter un client</h2>
      <form (ngSubmit)="ajouterClient()">
        <label for="code">Code Client:</label>
        <input type="text" id="code" name="code"
         [(ngModel)]="nouveauClient.code_client"
         required><br><br>

        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" [(ngModel)]="nouveauClient.nom" required><br><br>

        <label for="prenom">Prénom:</label>
        <input type="text" id="prenom" name="prenom" [(ngModel)]="nouveauClient.prenom" required><br><br>

        <label for="telephone">Téléphone:</label>
        <input type="text" id="telephone" name="telephone" [(ngModel)]="nouveauClient.telephone" required><br><br>

        <button type="submit" class="btn-primary">Ajouter</button>
      </form>

    </div>

    <div *ngIf="activeTab === 'modifier'" class="modifier">
      <!-- Contenu de l'onglet Modifier -->
      <h2>Modifier  Client</h2>
      <form (ngSubmit)="modifierClient()">
        <label for="codeModif">Code Client:</label>
        <input type="text" id="codeModif" name="codeModif"
        [(ngModel)]="clientModif.code_client" required><br><br>

        <label for="nomModif">Nom:</label>
        <input type="text" id="nomModif" name="nomModif" [(ngModel)]="clientModif.nom" required><br><br>

        <label for="prenomModif">Prénom:</label>
        <input type="text" id="prenomModif" name="prenomModif" [(ngModel)]="clientModif.prenom" required><br><br>

        <label for="telephoneModif">Téléphone:</label>
        <input type="text" id="telephoneModif" name="telephoneModif" [(ngModel)]="clientModif.telephone" required><br><br>

        <button type="submit" class="btn-primary">Modifier</button>
      </form>

    </div>

</div>

